<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Programa</title>
</head>
<body>
    <h1>Crear Nuevo Programa</h1>
    <form method="POST" action="/crear_programa">
        <label for="abreviatura_facultad">Abreviatura de Facultad:</label>
        <input type="text" name="abreviatura_facultad" required><br><br>
        <label for="nombre_programa">Programa:</label>
        <input type="text" name="nombre_programa" required><br><br>
        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/login">Volver a la lista de programas</a>
</body>
</html>
