<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
 
        <h1 class="mb-4">Bienvenido a mi aplicación Flask</h1>

        <div class="row">

            <!--para iniciar sesión-->
            <div class="col-md-6">
                <h2>Registrarse</h2>
                <form action="/registro" method="post">
                    <div class="form-group">
                        <label for="registro-username">Nombre de usuario:</label>
                        <input type="text" class="form-control" id="registro-username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="registro-password">Contraseña:</label>
                        <input type="password" class="form-control" id="registro-password" name="password" required>
                    </div>


                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>

            <!---para registrarse-->
            <div class="col-md-6">
                <h2>Iniciar Sesión</h2>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="login-username">Nombre de usuario:</label>
                        <input type="text" class="form-control" id="login-username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="login-password">Contraseña:</label>
                        <input type="password" class="form-control" id="login-password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                </form>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
